---
interface Props {
  eyebrow: string;
  title: string;
  description?: string;
}

const { eyebrow, title, description } = Astro.props;
---

<div class="section-header">
  <div>
    <p class="eyebrow">{eyebrow}</p>
    <h2>{title}</h2>
  </div>

  {description && <p>{description}</p>}
</div>